<h1>Booking Page </h1>

<%= form_for [@gig, @booking] do |f| %>
    <%= f.label :seats %>
    <%= f.text_field :seats %>
    <%= f.hidden_field :gig_id, value: @gig.id %>
    <br>
    <%= f.submit 'Book seats!' %>
<% end %>
