<h1>Gig Ticket Booker homepage</h1>

<p>To ADD: List by keyword search</p>

<nav>
  <ul>
    <li><%= link_to('List artists', artists_path) %></li>
    <li><%= link_to('List venues', venues_path) %></li>
    <li><%= link_to('List gigs', gigs_path) %></li>
    <br>
    <li><%= link_to('Add artist', new_artist_path) %></li>
    <li><%= link_to('Add venue', new_venue_path) %></li>
    <li><%= link_to('Create gig', new_gig_path) %></li>
    <br>
    <li><%= link_to('List bookings', bookings_path()) %></li>
  </ul>
</nav>

<%= form_tag search_index_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>