<!DOCTYPE html>
<html>
<head>
  <title>Gig Ticket Booker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link type="text/css" rel="stylesheet" href="assets/stylesheets/normalize.css" />
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class='login'>
   <% if current_user %>
     <%= current_user.email %>
     <%= link_to "Log out", destroy_user_session_path, method: :delete %>
   <% else %>
     <%= link_to "Sign In", new_user_session_path %>
     <%= link_to "Register", new_user_registration_path %>
   <% end %>
 </div>

<header>
  <nav>
    <ul>
      <li><%= link_to('Home', home_index_path) %></li>
      <li class='logo'>GIG TICKET BOOKER</li>
    </ul>
  </nav>
</header>

<section>
  <%= yield %>
</section>

</body>
</html>
